html, body {
    margin: 0;
    padding: 0;
}

* {
    outline: red dashed 1px;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #3e3e3e;
    color: #fff;
}

header a {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

header:hover {
    background: red;
    cursor: progress;
}

header:hover nav a {
    color: blue;
}

header nav a:hover {
    background-color: red;
}

header nav a:focus {
    font-size: 200%;
    outline: red dashed 2px;
}

header nav a:active {
    background-color: black;
    color: yellow;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

h1::before,
h1::after {
    content: ' * ';
}