* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: lightblue;
}

header {
    height: 115px;
    padding-top: 15px;
    font-family: 'Oswald', sans-serif;
}

header a {
    color: white;
}

header nav {
    float: right;
    margin-right: 100px;
    padding-top: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}
  
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

h1 {
    display: inline-block;
    font-size: 48px;
    color: aquamarine;
    background-color: gray;
}

header:hover {
    background: red;
    cursor: progress;
}

header:hover nav a {
    color: blue;
}

header nav a:hover {
    background-color: red;
}

header nav a:focus {
    font-size: 200%;
    outline: red dashed 2px;
}

header nav a:active {
    background-color: black;
    color: yellow;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

h1::before,
h1::after {
    content: ' * ';
}