* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: lightblue;
}

header {
    height: 115px;
    padding-top: 15px;
    font-family: 'Oswald', sans-serif;
}

header a {
    color: white;
}

header nav {
    float: right;
    margin-right: 100px;
    padding-top: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}
  
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

h1 {
    display: inline-block;
    font-size: 48px;
    color: black;
    background-color: gray;
}

nav a {
    text-underline-offset: 12px;
}

.banner {
    height: 140px;
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    border-radius: 0%;
    background-position: top;
    background-color: black;
    background-size: cover;
  }
  
.banner h2 {
    display: inline-block;
    position: relative;
    left: 90%;
    top: 45%;
    transform: translateX(-100%);
    color: white;
    background-color: gray;
    padding: 5px;
}

main {
    margin-top: 150px;
}

section h2 {
    font-size: 45px;
    text-align: right;
    font-weight: bold;
}

.aboutme {
    display: flex;
    flex: 25%;
    flex-wrap: nowrap;
    padding-top: 50px;
    padding-left: 90px;
    padding-right: 50px;
    padding-bottom: 10px;
}

/* header:hover {
    background: red;
    cursor: progress;
}

header:hover nav a {
    color: blue;
}

header nav a:hover {
    background-color: red;
}

header nav a:focus {
    font-size: 200%;
    outline: red dashed 2px;
}

header nav a:active {
    background-color: black;
    color: yellow;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

h1::before,
h1::after {
    content: ' * ';
} */